<div class="bg-header-page" style="background-color: white; padding: 25px 0px 1px; >
  <div class="container">        
    <div class="flash-sales-10-container">
      <div class="flash-sales-column-left">
        <div class= "flash-sales-big-title">SOLDES d'été</div>
        <div class= "flash-sales-baseline">Jusqu'à -40%</div>
        <div class= "flash-sales-big-subtitle">Des prix exceptionnels sur une sélection de produits!</div> 
      </div>
      <div class="flash-sales-column-right" style="align-items: center;" >
        <img style="width: 330px; height: auto;" src="https://s.mmgo.io/t/CO4Z" />
      </div>  
    </div>


  </div>            
</div>