<anchor id="size-guide"></anchor>
<div class="container_sizeguide_product">
  {% if product.tags contains 'size-jacket1' %}
  {% render 'size-guide-jacket1' %}
  {% endif %}
  {% if product.tags contains 'size-jacket2' %}
  {% render 'size-guide-jacket2' %}
  {% endif %}

  {% if product.tags contains 'size-gloves1' %}
  {% render 'size-guide-gloves1' %}
  {% endif %}

  {% if product.tags contains 'size-gloves2' %}
  {% render 'size-guide-gloves2' %}
  {% endif %}

  {% if product.tags contains 'size-gloves-wp' %}
  {% render 'size-guide-gloves-wp' %}
  {% endif %}  

  {% if product.tags contains 'size-gloves-moto' %}
  {% render 'size-guide-gloves-moto' %}
  {% endif %}   

  {% if product.tags contains 'size-sole2' %}
  {% render 'size-guide-sole2' %}
  {% endif %}

  {% if product.tags contains 'size-sole1' %}
  {% render 'size-guide-sole1' %}
  {% endif %}  

  {% if product.tags contains 'size-sock' %}
  {% render 'size-guide-sock' %}
  {% endif %}

  {% if product.tags contains 'size-jacket3' %}
  {% render 'size-guide-jacket3' %}
  {% endif %}  

  {% if product.tags contains 'size-jacket4' %}
  {% render 'size-guide-jacket4' %}
  {% endif %}

  {% if product.tags contains 'size-jacket5' %}
  {% render 'size-guide-jacket5' %}
  {% endif %}
  
  {% if product.tags contains 'size-jacket6' %}
  {% render 'size-guide-jacket6' %}
  {% endif %}

  {% if product.tags contains 'size-jacket7' %}
  {% render 'size-guide-jacket7' %}
  {% endif %}

  {% if product.tags contains 'size-jacket8' %}
  {% render 'size-guide-jacket8' %}
  {% endif %}

</div>