<div class="size-guide-row" id="gloves">
<div class="size-guide-header">
<h2 class="size-guide-title">Gants chauffants vélo, travail et équitation</h2>
<h3 class="size-guide-subtitle">Comment choisir la taille de vos gants ?</h3>
</div>
<div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">
Choisissez de votre main directrice (droite pour un droitier)<br>
  Mesurez votre tour de main <b>paume ouverte sans le pouce</b>
</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-gloves.svg?v=1598538156" class="size-guide-explainer-content-image"></div>
</div>
<div class="size-guide-advice">
<b>Conseil :</b> Si vous avez les doigts longs, choisissez la taille supérieure à votre mesure.
</div>
<div class="size-guide-notice">
<div class="size-guide-notice-preheader"></div>
<div class="size-guide-notice-table">
<table>
<tbody>
<tr>
<td class="size-guide-notice-table-black">Taille</td>
<td class="size-guide-notice-table-normal">XS</td>
<td class="size-guide-notice-table-normal">S</td>
<td class="size-guide-notice-table-normal">M</td>
<td class="size-guide-notice-table-normal">L</td>
<td class="size-guide-notice-table-normal">XL</td>
<td class="size-guide-notice-table-normal">XXL</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Tour de main (en cm)</td>
<td class="size-guide-notice-table-normal">14,5 à 15,5</td>
<td class="size-guide-notice-table-normal">16 à 17,5</td>
<td class="size-guide-notice-table-normal">18 à 20</td>
<td class="size-guide-notice-table-normal">20,5 à 21,5</td>
<td class="size-guide-notice-table-normal">22 à 23</td> 
<td class="size-guide-notice-table-normal">23,5 à 24,5</td>   
</tr>
<tr>
<td class="size-guide-notice-table-black">Taille universelle</td>
<td class="size-guide-notice-table-normal">5/6</td>
<td class="size-guide-notice-table-normal">6/7</td>
<td class="size-guide-notice-table-normal">7/8</td>
<td class="size-guide-notice-table-normal">8/9</td>
<td class="size-guide-notice-table-normal">9/10</td>
<td class="size-guide-notice-table-normal">10/11</td>
</tr>
</tbody>
</table>
</div>
</div>    
</div>