<div class="size-guide-row" id="gloves">
<div class="size-guide-header">
<h2 class="size-guide-title">Gants chauffants moto</h2>
<h3 class="size-guide-subtitle">Comment choisir la taille de vos gants moto ?</h3>
</div>
<div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">Nous vous proposons de mesurer votre tour de main. <br>
Choisissez d’abord votre main directrice<br>
La main droite si vous êtes droitier, la gauche si vous êtes gaucher. <br>
A l’aide d’un mettre ruban, mesurez votre tour de paume sans le pouce.
  </div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-gloves.svg?v=1598538156" class="size-guide-explainer-content-image"></div>
</div>
<div class="size-guide-advice">
<b>Conseil :</b>Si vous avez les doigts longs, choisissez la taille supérieure à votre mesure.
</div>
<div class="size-guide-notice">
<div class="size-guide-notice-preheader"></div>
<div class="size-guide-notice-table">
<table>
<tbody>
<tr>
<td class="size-guide-notice-table-black">Taille</td>
<td class="size-guide-notice-table-normal">S</td>
<td class="size-guide-notice-table-normal">M</td>
<td class="size-guide-notice-table-normal">L</td>
<td class="size-guide-notice-table-normal">XL</td>
<td class="size-guide-notice-table-normal">XXL</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Tour de main (en cm)</td>
<td class="size-guide-notice-table-normal">18,5 à 20</td>
<td class="size-guide-notice-table-normal">20 à 21,5</td>
<td class="size-guide-notice-table-normal">21,5 à 23</td> 
<td class="size-guide-notice-table-normal">23 à 24</td>   
<td class="size-guide-notice-table-normal">24 à 26</td>  
</tr>
<tr>
<td class="size-guide-notice-table-black">Taille universelle</td>
<td class="size-guide-notice-table-normal">7/8</td>
<td class="size-guide-notice-table-normal">8/9</td>
<td class="size-guide-notice-table-normal">9/10</td>
<td class="size-guide-notice-table-normal">10/11</td>
<td class="size-guide-notice-table-normal">11/12</td>
</tr>
</tbody>
</table>
</div>
</div>    
</div>