<div class="size-guide-row" id="sole">
<div class="size-guide-header">
<h2 class="size-guide-title">Semelles chauffantes</h2>
<h3 class="size-guide-subtitle">Comment choisir la taille de vos semelles ?</h3>
</div>
<div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">
Choisissez votre taille de semelles selon votre pointure habituelle.<br>
Il vous suffira ensuite de découper la semelle à votre taille exacte en suivant les pointillés ou en superposant une de vos semelles actuelles.
</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-sole.svg?v=1598598579" class="size-guide-explainer-content-image"></div>
</div> 
<div class="size-guide-advice">
<b>Conseil :</b> En cas de doute entre deux tailles, prenez la taille du dessus.
</div>  
</div>