<div class="size-guide-row" id="jacket">
<div class="size-guide-header">
<h2 class="size-guide-title">Vestes, doudounes et manteaux</h2>
<h3 class="size-guide-subtitle">Comment bien choisir sa taille?</h3>
</div>
<div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">
Mesurez votre tour de poitrine à son endroit le plus fort et votre largeur d'épaule et vérifiez bien la longueur de manches.<br>
Prenez les mesures à l’aide d’un mètre de couturière et avec vos vêtements. <br>
Reportez-vous ensuite au guide des tailles ci-dessous.</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-jacket.svg?v=1598538156" class="size-guide-explainer-content-image"></div>
</div>
<div class="size-guide-advice">
<b>Conseil :</b> Si vous hésitez entre deux tailles, prenez la plus grande des deux, il ne faut pas être serré afin d’optimiser la diffusion de la chaleur.
</div>
<div class="size-guide-notice" id="jacket-2">
<div class="size-guide-notice-preheader">
Guide des tailles
</div>
<div class="size-guide-notice-table">
<table>
<tbody>
<tr>
<td class="size-guide-notice-table-black">Tailles</td>
<td class="size-guide-notice-table-normal">S</td>
<td class="size-guide-notice-table-normal">M</td>
<td class="size-guide-notice-table-normal">L</td>
<td class="size-guide-notice-table-normal">XL</td>
<td class="size-guide-notice-table-normal">XXL</td>  
</tr>
<tr>
<td class="size-guide-notice-table-black">Tour de poitrine (en cm)</td>
<td class="size-guide-notice-table-normal">100</td>
<td class="size-guide-notice-table-normal">108</td>
<td class="size-guide-notice-table-normal">116</td>
<td class="size-guide-notice-table-normal">124</td>
<td class="size-guide-notice-table-normal">132</td>   
</tr>
<tr>
<td class="size-guide-notice-table-black">Longueur (en cm)</td>
<td class="size-guide-notice-table-normal">71</td>
<td class="size-guide-notice-table-normal">73</td>
<td class="size-guide-notice-table-normal">75</td> 
<td class="size-guide-notice-table-normal">76</td>
<td class="size-guide-notice-table-normal">77</td> 
</tr>
<tr>
<td class="size-guide-notice-table-black">Largeur d'épaules (en cm)</td>
<td class="size-guide-notice-table-normal">46</td>
<td class="size-guide-notice-table-normal">47</td>
<td class="size-guide-notice-table-normal">48</td> 
<td class="size-guide-notice-table-normal">49</td>
<td class="size-guide-notice-table-normal">50</td>     
</tr>
<tr>
<td class="size-guide-notice-table-black">Longueur de manches (en cm)</td>
<td class="size-guide-notice-table-normal">67</td>
<td class="size-guide-notice-table-normal">68</td>
<td class="size-guide-notice-table-normal">69</td> 
<td class="size-guide-notice-table-normal">70</td>
<td class="size-guide-notice-table-normal">71</td>     
</tr>  
</tbody>
</table>
</div>
</div> 
</div>