<div class="size-guide-row" id="sole">
<div class="size-guide-header">
<h2 class="size-guide-title">Semelles chauffantes</h2>
<h3 class="size-guide-subtitle">Comment choisir la taille de vos semelles ?</h3>
</div>
    <div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">
Nous proposons deux tailles de semelle : <br>
    La taille S va du 35 au 40<br>
    La taille L va du 41 au 47<br>
    Il vous suffit de découper la semelle à votre taille en suivant les pointillés ou en superposant une de vos semelles.
</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-sole.svg?v=1598598579" class="size-guide-explainer-content-image"></div>
</div>
    
<div class="size-guide-advice">
<b>Conseil :</b>En cas de doute entre deux tailles, prenez la taille du dessus.
</div>
<div class="size-guide-notice">
<div class="size-guide-notice-preheader"></div>
<div class="size-guide-notice-table">
<table>
<tbody>
<tr>
<td class="size-guide-notice-table-black">Taille</td>
<td class="size-guide-notice-table-normal">S</td>
<td class="size-guide-notice-table-normal">L</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Taille EU</td>
<td class="size-guide-notice-table-normal">35 à 40</td>
<td class="size-guide-notice-table-normal">41 à 47</td>
</tr>
</tbody>
</table>
</div>
</div>    
</div>