<div class="size-guide-row" id="jacket">
<div class="size-guide-header">
<h2 class="size-guide-title">Veston chauffant</h2>
<h3 class="size-guide-subtitle">Comment choisir la taille de votre veston ?</h3>
</div>
<div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">Mesurez votre tour de poitrine à son endroit le plus fort (en cm). <br>
Prenez les mesures à l’aide d’un mètre de couturière et avec vos vêtements. <br> Reportez-vous ensuite au guide des tailles ci-dessous.</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-jacket.svg?v=1598538156" class="size-guide-explainer-content-image"></div>
</div>
<div class="size-guide-advice">
<b>Conseil :</b> Si vous hésitez entre deux tailles, prenez la plus grande des deux, il ne faut pas être serré afin d’optimiser la diffusion de la chaleur.
</div>
<div class="size-guide-notice" id="jacket-2">
<div class="size-guide-notice-preheader">
Le veston chauffant n'est pas réglable, sélectionnez votre taille.
</div>
<div class="size-guide-notice-table">
<table>
<tbody>
<tr>
<td class="size-guide-notice-table-black">Veston</td>
<td class="size-guide-notice-table-normal">XL</td>
<td class="size-guide-notice-table-normal">2XL</td>
<td class="size-guide-notice-table-normal">3XL</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Tour de poitrine (en cm)</td>
<td class="size-guide-notice-table-normal">105 à 115</td>
<td class="size-guide-notice-table-normal">115 à 125</td>
<td class="size-guide-notice-table-normal">125 à 135</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Tailles EU</td>
<td class="size-guide-notice-table-normal">46 à 50</td>
<td class="size-guide-notice-table-normal">50 à 54</td>
<td class="size-guide-notice-table-normal">54 à 58</td>    
</tr>
</tbody>
</table>
</div>
</div> 
</div>