<div class="size-guide-row" id="jacket">
<div class="size-guide-header">
<h2 class="size-guide-title">Polaire et veste sans manche</h2>
<h3 class="size-guide-subtitle">Comment choisir la bonne taille?</h3>
</div>
<div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">Mesurez votre tour de poitrine à son endroit le plus fort (en cm). <br>
Prenez les mesures à l’aide d’un mètre à ruban et avec vos vêtements.<br>
</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-jacket.svg?v=1598538156" class="size-guide-explainer-content-image"></div>
</div>
<div class="size-guide-advice">
<b>Conseil :</b>  Si vous hésitez entre deux tailles, prenez la plus grande des deux, il ne faut pas être serré afin d’optimiser la diffusion de la chaleur.
</div>
<div class="size-guide-notice" id="jacket-1">
<div class="size-guide-notice-preheader">
Ce produit G-heat est réglable en taille sur le côté du vêtement
</div>
<div class="size-guide-notice-table">
<table>
<tbody>
<tr>
<td class="size-guide-notice-table-black">Taille</td>
<td class="size-guide-notice-table-normal">XS/M</td>
<td class="size-guide-notice-table-normal">M/XXL</td>
<td class="size-guide-notice-table-normal">L/XXXL</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Tour de poitrine (en cm)</td>
<td class="size-guide-notice-table-normal">85 à 115</td>
<td class="size-guide-notice-table-normal">105 à 125</td>
<td class="size-guide-notice-table-normal">115 à 145</td>
</tr>
<tr>
<td class="size-guide-notice-table-black">Tailles EU</td>
<td class="size-guide-notice-table-normal">36 à 50</td>
<td class="size-guide-notice-table-normal">46 à 54</td>  
<td class="size-guide-notice-table-normal">50 à 60</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>