<div class="size-guide-row" id="sock">
<div class="size-guide-header">
<h2 class="size-guide-title">Chaussettes</h2>
<h3 class="size-guide-subtitle">Comment choisir la taille de vos chaussettes ?</h3>
</div>
    <div class="size-guide-explainer-row">
<div class="size-guide-explainer-content">
Nos chaussettes correspondent aux tailles usuelles européennes.<br>
Vous pouvez les commander selon votre pointure habituelle. 
</div>
<div class="size-guide-explainer-image"><img width="150" height="150"src="https://cdn.shopify.com/s/files/1/2545/2656/files/icon-size-guide-sock.svg?v=1598598579" class="size-guide-explainer-content-image"></div>
</div>
    
<div class="size-guide-advice">
<b>Conseil :</b> En cas de doute entre deux tailles, prenez la taille du dessus.<br>
<b>Attention :</b> Si vous avez un mollet fort, optez pour les chaussettes chauffantes confort
</div>
  </div>
