<div class="bg-header-page" style="background-color: white; padding: 25px 0px 1px;">
  <div class="container">
    <div class="flash-sales-10-container">
      <div class="flash-sales-column-left">
        <div class= "flash-sales-big-title">BLACK FRIDAY</div>
        <div class= "flash-sales-baseline">Jusqu'à -50%</div>
        <div class= "flash-sales-big-subtitle">Des prix exceptionnels sur une sélection de produits!</div>
      </div>
      <div class="flash-sales-column-right" style="align-items: center;" >
        <img style="width: 330px; height: auto;" src="https://s.mmgo.io/t/CO4Z" loading="lazy"/>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Flash sales countdown",
    "settings": [],
    "presets": [{
      "name": "Flash sales countdown",
      "category": "Collection"
    }]
  }
{% endschema %}