<div class="page-width page-width-size-guide page-content">
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>
  {% render 'size-guide-gloves1' %}

  {% render 'size-guide-jacket3' %}

  {% render 'size-guide-jacket1' %}
  
  {% render 'size-guide-jacket8' %}

  {% render 'size-guide-sole2' %}

  {% render 'size-guide-sock' %}
  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
</div>


{% schema %}
  {
    "name": "Page size Guide",
    "settings": []
  }
{% endschema %}